* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body {font-family: "Proxima Nova"; margin: 0; padding: 0; font-size: 10pt;}
header {overflow: hidden; background-color: #232323; border-bottom: 1px solid #151515; padding: 10px;}
header h1 {float: left; font-weight: 300; margin: 5px 0; line-height: 1; font-size: 1.8em;}
header h1 a {text-decoration: none; color: #fff;}
header nav {float: right;}
header nav ul,
header nav ul li {display: inline-block; margin: 2px 0 0; padding: 0;}
header nav ul li a {text-decoration: none; display: block; padding: 5px 10px; margin: 0 5px; color: #ccc; border: 1px solid #a0a0a0; border-radius: 5px;}
header nav ul li a:hover {border-color: #ccc; color: #e0e0e0;}
header + nav {text-align: center; background-color: #333; border-top: 1px solid #383838; border-bottom: 1px solid #444; -moz-box-shadow: 0 2px 0 0 #262626,0 -1px 0 0 #171717; box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717;}
header + nav ul li {display: inline-block; margin: 0; padding: 0;}
header + nav ul li a {text-decoration: none; display: block; padding: 0 10px; margin: 0 5px; color: #ccc;}
header + nav ul li a:hover {border-color: #ccc; color: #e0e0e0;}
main {background: #d2d1d0 url("https://i.imgur.com/N55CnWX.png") repeat-x top left; background: -webkit-gradient(linear, 50% 0%, 50% 300, color-stop(0%, #e3e3e2), color-stop(100%, #d2d1d0)); background: -webkit-linear-gradient(#e3e3e2 0%,#d2d1d0 300px); background: -moz-linear-gradient(#e3e3e2 0%,#d2d1d0 300px); background: -o-linear-gradient(#e3e3e2 0%,#d2d1d0 300px); background: linear-gradient(#e3e3e2 0%,#d2d1d0 300px); border-top: 1px solid #fff; line-height: 18px; margin: 0 auto; min-height: 540px; padding: 20px 0 30px; border-top: 0; padding-top: 20px; padding: 10px;}
.shadow {border: 1px solid #bbb;}
.shadow .inner {margin: -2px 0px 0px -2px; border: 1px solid #bbb; background-color: #f4f4f4; background-image: url("https://i.imgur.com/QXcZbO7.png"); background-repeat: repeat-x;}
.shadow .inner .border {border: 1px solid #fefefe; background-color: #f4f4f4; padding: 10px;}
.shadow .inner .border .content-amazing {background: url("https://i.imgur.com/VEKOjBc.png") center center no-repeat #333; -webkit-background-size: cover; background-size: cover; color: #fff; line-height: 5; text-align: center; font-size: 2.5em; text-shadow: 0 0 3px rgba(255, 255, 255, 0.75);}
.space-up {margin-top: 10px;}
.cols {display: flex; column-gap: 10px; row-gap: 10px; flex-wrap: wrap;}
.cols .col {flex-grow: 1; min-width: 200px; max-width: 100%;}
footer {background-color: #333; border-bottom: 1px solid #444; border-top: 1px solid #383838; -moz-box-shadow: 0 2px 0 0 #262626,0 -1px 0 0 #171717; box-shadow: 0 2px 0 0 #262626, 0 -1px 0 0 #171717; color: #8f887c; text-align: center;}
footer + aside {background-color: #232323; border-bottom: 1px solid #151515; margin-top: 2px; color: #837e76; text-align: center;}
footer + aside p {margin: 0; line-height: 2.25;}

@media screen and (max-width: 640px) {
  header h1, header nav {float: none; text-align: center;}
  header nav {margin-top: 10px;}
}
